.text-center {
  text-align: center;
}

.panel {
  width: 80vmin;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.panel label {
  display: block;
}
.panel input,
.panel textarea {
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #CED4DA;
  border-radius: 0.25rem;
  width: 73vmin;
}

.panel button {
  font-size: large;
  background-color: #DCB9DC;
  border: 1px solid #800080;
  padding: 0.25rem 1rem;
}
.row {
  display: flex;
  justify-content: space-around;
}

.game-list { 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95vw;
}

.game-list .game {
  width: 15rem;
  height: 15rem;
  margin: 1rem;
  padding: 2rem;
  background-color: #E7F3E7;
  display: flex;
  justify-content: center;
  flex-direction: column;

  position: relative;
}

.game-list .game.new {
  background-color: #F4E6C2;
}
.game-list .game.old {
  background-color: #DCB9DC;
}
.game-list a {
  text-decoration: none;
}

.game, .menu, .hand, .trick {
  width: 100vw;
  justify-content: center;
}

.game {
  height: 100vh;
}

.menu {
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.menu.open {
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.menu.open label {
  display: block;
  font-weight: bold;
  color: #DDDDDD;
}

.menu.closed label,
.menu.closed .hide-closed {
  display: none;
}



.hand {
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.hand.North {
  align-items: flex-start;
  position: relative;
}
.hand.North::after {
  content: "North";
  position: absolute;
  color: rgba(0,0,0,0.5);
  bottom: 0.25em;
  left: 1em;
}

.hand.South { 
  align-items: flex-end;
  position: relative;
}
.hand.South::after {
  content: "South";
  position: absolute;
  color: rgba(0,0,0,0.5);
  top: 0.25em;
  right: 1em;
}

.hand.turn {
  background-color: #E7F3E7;
}

.hand .card-wrapper {
  overflow: hidden;
}
.hand .card-wrapper:last-child, 
.hand .card-wrapper.selectedCard {
  overflow: visible;
}

.trick {
  height: 40vh;
  display: flex;
  align-items: center;
}

.trick .decree { 
  margin-right: auto;
  position: relative;
}
.trick .decree::after {
  content: "Decree";
  position: absolute;
  color: rgba(0, 0, 0, 0.5);
  right: -0.5em;
  bottom: -1em;
}
.trick .card-wrapper {
  overflow: hidden;
}

.trick .last-trick .decree::after {
  font-size: x-small;
}

.trick .north {
  margin: -8vmin -3vmin 8vmin 3vmin;
}

.trick .south {
  margin: 8vmin auto -8vmin -3vmin;
}

.trick .last-trick {
  position: relative;
}
.trick .last-trick::after {
  content: "Last Trick";
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 3em;
  right: 1em;
}
.trick .last-trick .trick {
  width: 25vmin;
}
.last-trick .card {
  width: 5vmin;
  height: 7.5vmin;
  font-size: x-small;
}

.card { 
  flex: 1;

  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.5em;

  width: 10vmin;
  max-width: 10vmin;
  height: 13vmin;
}
.card.Moons {
  border-color: #800080;
  background-color: #DCB9DC;
}
.card.Keys {
  border-color: #DAA520;
  background-color: #F4E6C2;
}
.card.Bells { 
  border-color: #008080;
  background-color: #B9DCDC;
}

.missingCard {
  border-width: 1px;
  border-style: dashed;
  border-color: black;
}
.hiddenCard {
  border-width: 1px;
  border-style: double;
  border-color: black;
  background-color: #EEEEEE;
}
.selectedCard {
  border-width: 3px;
}
.newCard {
  font-weight: bold;
}

.icon {
  width: 20vmin;
}

button.archive {
  position: absolute;
  top: 0;
  right: 0;

  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.75);
  font-size: x-large;
  font-weight: bold;
}
